.boundedContainer {
   background: var(--beige-300);
}

.heroContainer {
   background-size: cover;
   background-repeat: no-repeat;
   background-position: 50% 50%;
   display: flex;
   justify-content: center;
}

/* Reset font size in case of font reversion */
.textContainer h1 {
   font-size: 4rem;
}

.textContainer h2 {
   font-size: 1.25rem;
}

.textContainer {
   padding: 3rem;
   color: var(--cream-200);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 1rem;
   text-align: center;
}

@media only screen and (min-width: 768px) {
   .heroContainer {
      background-position: center 10%;
      margin: 2rem 0;
   }
   .textContainer {
      height: 16.5rem;
   }
   
   .textContainer h2 {
      max-width: 30rem;
      font-size: 1.5rem;
   }
}