.boundedContainer {
   background-size: cover;
   background-repeat: no-repeat;
   background-position: 50% 0;
   color: var(--cream-200);
}

.heroContainer {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 2rem;
   height: 44rem;
}

.textRow p {
   max-width: 90%;
}

.textRow h1 {
   text-align: center;
   font-size: 4rem;
}

.textRow p {
   font-size: 1.25rem;
}

.links {
   display: flex;
   justify-content: center;
   gap: 1rem;
}

.button {
   width: 7.5rem;
   font-size: 1.2rem;
}

@media only screen and (min-width: 400px) {
   .heroContainer {
      height: 36rem;
   }
}

@media only screen and (min-width: 600px) {
   .boundedContainer {
      background-position: 0 -100px;
   }
   
   .textRow p {
      max-width: 60%;
   }
}

@media only screen and (min-width: 800px) {
   .boundedContainer {
      background-position: 0 -300px;
   }

   .textRow p {
      max-width: 30rem;
   }
}

@media only screen and (min-width: 1100px) {
   .boundedContainer {
      background-position: 0 -400px;
   }
}

@media only screen and (min-width: 1500px) {
   .boundedContainer {
      background-position: 0 -500px;
   }
}

@media only screen and (min-width: 1800px) {
   .boundedContainer {
      background-position: 0 -700px;
   }

   .heroContainer {
      height: 50rem;
      gap: 3rem;
   }
}

@media only screen and (min-width: 2100px) {
   .boundedContainer {
      background-position: 0 -800px;
   }
}

@media only screen and (min-width: 2450px) {
   .boundedContainer {
      background-position: 0 -900px;
   }
}
