.boundedContainer {
   background-image: url('/couple-beach-kiss-crop-min-dark.png');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: -100px 0;
   color: var(--cream-200);
}

.heroContainer {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 44rem;
}

.heading {
   font-size: 2rem;
}

.paragraph {
   text-align: center;
   font-size: 1.875rem;
}

.textRow {
   max-width: 90%;
}

@media only screen and (min-width: 340px) {
   .boundedContainer {
      background-position: 0 0;
   }
}