.boundedContainer {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  color: var(--cream-200);
}

.heroContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  min-height: clamp(34rem, 60vh, 40rem);
}

.textRow {
  display: flex;
  justify-content: center;
  text-align: center;
}

.textRow h1 {
  font-size: clamp(3.25rem, 10vw, 4rem);
  text-wrap: balance;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.textRow p {
  font-size: 1.25rem;
  max-width: 90%;
}

.links {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.button {
  min-width: 7.5rem;
  font-size: 1.2rem;
}

@media only screen and (min-width: 600px) {
  .textRow p {
    max-width: 45ch;
  }
}

@media only screen and (min-width: 1800px) {
  .heroContainer {
    gap: 3rem;
  }
}
