.heroContainer {
   height: 36rem;
   background-image: url('/couple-beach-pose-mod-dark-min.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: 50% 0;
   color: var(--cream-200);
}

.row {
   height: 12rem;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.empty {
   height: 5rem;
}

.headingRow {
   margin: 0 auto;
   max-width: 90%;
   align-items: center;
}

.linksRow {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 1rem;
}

.linksRow p {
   font-size: 1.875rem;
   margin-bottom: 1rem;
}

.links {
   display: flex;
   flex-direction: column;
}

.links li {
   display: inline-block;
   margin: .5rem 1rem;
}

.button {
   width: 9rem;
   font-size: 1.2rem;
}

@media only screen and (min-width: 525px) {
   .empty {
      height: 12rem;
   }

   .links {
      flex-direction: row;
   }

   .links li {
      margin: 0 1rem;
   }
}

@media only screen and (min-width: 800px) {
   .heroContainer {
      background-position: 50% 10%;
   }
   .row {
      flex-direction: row;
      align-items: start;
      justify-content: center;
   }

   .linksRow p {
      margin-right: 1rem;
      margin-bottom: 0;
   }
}

@media only screen and (min-width: 1700px) {
   .empty {
      height: 9rem;
   }  
}

@media only screen and (min-width: 2000px) {
   .empty {
      height: 10rem;
   }
}