.image {
   width: 20rem;
   height: 20rem;
   margin: 1rem;
}

.textContentContainer {
   background: var(--cream-300);
   color: black;
   width: 20rem;
   height: 20rem;
   display: flex;
   flex-direction: column;
   place-content: center;
   margin: 1rem;
}

.hideImage {
   display: none;
   visibility: hidden;
}

.flexRow {
   display: flex;
   flex-direction: column;
   place-items: center;
}

@media only screen and (min-width: 800px) {
   .flexRow {
      flex-direction: row;
      justify-content: center;
   }
 }

@media only screen and (min-width: 1075px) {
   
   .flexRow > * {
      flex-basis: 30%;
   }

   .hideImage {
      display: block;
      visibility: visible;
   }
}