.image {
   width: 20rem;
   height: 20rem;
   margin: 1rem;
}

.textContentContainer {
   background: var(--cream-300);
   color: black;
   width: 20rem;
   height: 20rem;
   display: flex;
   flex-direction: column;
   place-content: center;
   margin: 1rem;
}