.boundedContainer {
   background: var(--brown-200);
}

.contentContainer {
   position: relative;
   height: 47rem;
   display: flex;
   align-items: center;
}

.textContainer {
   background: var(--beige-300);
   padding: 1.5rem 1rem;
   display: flex;
   flex-direction: column;
   gap: 1rem;
   max-width: 85%;
   margin: 0 auto;
   z-index: 5;
   opacity: .8;
}

.textContainer strong {
   color: var(--brown-700);
}

.imageContainer {
   position: absolute;
   background-repeat: no-repeat;
   background-size: cover;
   height: 100%;
   width: 100%;
}

@media only screen and (min-width: 350px) {
   .contentContainer {
      height: 41rem;
   }
}

@media only screen and (min-width: 400px) {
   .contentContainer {
      height: 36.5rem;
   }
}