.button {
   display: block;
   width: fit-content;
   text-align: center;
   font-weight: 500;
   border-radius: 100px;
   padding: .6rem 1rem;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.button:hover {
   cursor: pointer;
}

.buttonBeige300 {
   color: var(--brown-500);
   background: var(--beige-300);
}

.buttonBeige300:focus {
   background: hsl(28, 29%, 87%);
}

.buttonBeige300:hover {
   background: hsl(28, 29%, 87%);
}

.buttonBeige300:active {
   background: hsl(28, 29%, 82%);
}

.buttonCream200 {
   color: var(--brown-400);
   background: var(--cream-200);
}

.buttonCream200:focus {
   background: hsl(0, 0%, 92%);
}

.buttonCream200:hover {
   background: hsl(0, 0%, 92%);
}

.buttonCream200:active {
   background: hsl(0, 0%, 85%);
}

.buttonBrown200 {
   color: var(--cream-300);
   background: var(--brown-200);
}

.buttonBrown200:focus {
   background: hsl(27, 23%, 71%);
}

.buttonBrown200:hover {
   background: hsl(27, 23%, 71%);
}

.buttonBrown200:active {
   background: hsl(27, 23%, 66%);
}

.buttonBrown300 {
   color: var(--cream-300);
   background: var(--brown-300);
}

.buttonBrown300:focus {
   background: hsl(18, 21%, 61%);
}

.buttonBrown300:hover {
   background: hsl(18, 21%, 61%);
}

.buttonBrown300:active {
   background: hsl(18, 21%, 55%);
}

.buttonBrown500 {
   color: var(--cream-300);
   background: var(--brown-500);
}

.buttonBrown500:focus {
   background: hsl(21, 24%, 42%);
}

.buttonBrown500:hover {
   background: hsl(21, 24%, 42%);
}

.buttonBrown500:active {
   background: hsl(21, 24%, 36%);
}

.buttonBrown700 {
   color: var(--cream-300);
   background: var(--brown-700);
}

.buttonBrown700:focus {
   background: hsl(17, 39%, 32%);
}

.buttonBrown700:hover {
   background: hsl(17, 39%, 32%);
}

.buttonBrown700:active {
   background: hsl(17, 39%, 26%);
}

.buttonBrown800 {
   color: var(--cream-300);
   background: var(--brown-800);
}

.buttonBrown800:focus {
   background: hsl(17, 39%, 27%);
}

.buttonBrown800:hover {
   background: hsl(17, 39%, 27%);
}

.buttonBrown800:active {
   background: hsl(17, 39%, 21%);
}
