.inquiryForm button:disabled {
   background-color: gray;
}

.fieldContainer {
   margin-bottom: 1rem;
}

.fieldContainer > * {
   display: block;
}

.inquiryField {
   background-color: var(--cream-350);
}

textarea.inquiryField {
   width: 30rem;
   padding: .3rem;
   font-size: .875rem;
}