.boundedContainer {
   background: var(--beige-300);
   text-align: center;
}

.mainHeading {
   font-size: clamp(1.75rem, 4vw, 2.25rem);
   color: var(--brown-500);
   margin-bottom: 2rem;
}

.contentContainer {
   display: flex;
   flex-direction: column;
   gap: 2rem;
}

.sectionContainer {
   max-width: 20rem;
   margin: 0 auto;
}

.sectionHeading {
   color: var(--gold-700);
   font-weight: 600;
   margin-bottom: .5rem;
}

.menuToggleButton {
   max-width: 80%;
}

.menuToggleButton span {
   top: calc(50% - 0.6rem);
   right: -1.25rem;
}

.infoContent {
   overflow: hidden;
   transition: max-height 750ms ease;
}

.infoContent p {
   background: var(--cream-200);
   color: var(--brown-500);
   border-radius: 5px;
   font-weight: 500;
   padding: .5rem;
}

.infoContent[data-hidden="true"] {
   max-height: 0;
}

.infoContent[data-hidden="false"] {
   max-height: 22rem;
}

@media only screen and (min-width: 352px) {
   .infoContent[data-hidden="false"] {
      max-height: 19rem;
   }
}

@media only screen and (min-width: 768px) {
   .contentContainer {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
      column-gap: 4rem;
      margin: 0;
   }

   .sectionContainer {
      max-width: 28rem;
   }
}

@media only screen and (min-width: 1000px) {
   .infoContent[data-hidden="false"] {
      max-height: 15rem;
   }
}