.boundedContainer {
   background: var(--beige-300);
   text-align: center;
}

.mainHeading {
   margin-bottom: 1rem;
   color: var(--brown-500)
}

.sectionHeading {
   color: var(--gold-700);
   font-weight: 600;
   margin-bottom: .25rem;
}

.contentContainer {
   display: flex;
   flex-direction: column;
   gap: 2rem;
}

.sectionContainer {
   max-width: 20rem;
   margin: 0 auto;
}

.sectionHeading {
   color: var(--gold-700);
   font-weight: 600;
   margin-bottom: .25rem;
}

.menuToggleButton {
   max-width: 80%;
}

.menuToggleButton span {
   top: calc(50% - 0.6rem);
   right: -1.25rem;
}

@media only screen and (min-width: 768px) {
   .mainHeading {
      margin-bottom: 2rem;
   }
   .contentContainer {
      text-align: start;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
      column-gap: 4rem;
      margin: 0;
   }

   .sectionContainer {
      max-width: 30rem;
   }

   .menuToggleButton {
      text-align: start;
   }
}