.inquiryForm button:disabled {
   background-color: gray;
   cursor: not-allowed;
}

.fieldContainer {
   margin-bottom: 1rem;
}

.fieldContainer > * {
   display: block;
}

.fieldContainer label {
   color: var(--brown-750);
   font-weight: 500;
}

.fieldContainer:focus-within input,
.fieldContainer:focus-within textarea {
   outline: none;
}

.fieldContainer:focus-within label {
   text-decoration: underline;
}

.inquiryField {
   color: var(--black-700);
   font-weight: 500;
   border-bottom: 1px solid var(--brown-500);
   width: 100%;
}

.fieldContainer:focus-within .inquiryField {
   border-bottom: 1px solid var(--brown-700);
}

textarea.inquiryField {
   width: 100%;
   height: 5rem;
   background: var(--cream-200);
   padding: .3rem;
   font-size: .875rem;
   border: 1px solid var(--brown-500);
}

textarea.inquiryField:focus-within {
   border: 2px solid var(--brown-300);

}

.errorContainer {
   color: var(--gold-700);
}

.errorContainer p {
   padding-bottom: 1rem;
}

.submitButton {
   margin: 0 auto;
}

.submitButton:hover {
   cursor: pointer;
}

@media only screen and (min-width: 768px) {
   .submitButton {
      margin: 0;
   }
}