.inquiryForm button:disabled {
   background-color: gray;
}

.fieldContainer {
   margin-bottom: 1rem;
}

.fieldContainer > * {
   display: block;
}

.inquiryField {
   border-bottom: 1px solid var(--brown-500);
}

textarea.inquiryField {
   width: 30rem;
   height: 5rem;
   padding: .3rem;
   font-size: .875rem;
   border: 1px solid var(--brown-500);
}

textarea.inquiryField:focus {
   border: 2px solid var(--brown-300);
   outline: none;
}

.errorContainer {
   color: var(--gold-700);
}

.submitButton {
   display: block;
   background: var(--brown-500);
   color: var(--beige-300);
   width: fit-content;
   text-align: center;
   font-weight: 500;
   border-radius: 100px;
   padding: .6rem 1rem;
}

.submitButton:hover {
   cursor: pointer;
}