.boundedContainer {
   background: var(--beige-300);
   text-align: center;
   padding: 1rem 1rem 2.5rem 1rem;
}

.boxesContainer {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 1.5rem;
}

.mainHeading {
   color: var(--brown-500);
   font-weight: 600;
   margin-bottom: 1rem;
}

.box {
   background: var(--brown-500);
   color: var(--cream-200);
   height: fit-content;
   display: flex;
   flex-direction: column;
   align-items: center;
   max-width: 20rem;
   border-radius: 10px;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.box h3 {
   padding: 1rem .5rem;
}

.box p {
   max-width: 80%;
   margin-bottom: 1rem;
}

@media only screen and (min-width: 1024px) {
   .boxesContainer {
      flex-direction: row;
      flex-wrap: wrap;
   }

   .box {
      height: 21rem;
      width: 20rem;
   }

   .box h3 {
      height: 3rem;
   }

   .box p {
      height: 18rem;
      display: flex;
      align-items: center;
   }
}

@media only screen and (min-width: 1040px) {
   .box {
      height: 22rem;
      width: 20rem;
      position: relative;
   }

   .box p {
      display: block;
      position: absolute;
      top: 5.75rem;
   }

   .box:last-of-type {
      height: fit-content;
   }

   .box:last-of-type p {
      height: 18rem;
      position: static;
      display: flex;
      align-items: center;
   }
}

@media only screen and (min-width: 1384px) {
   .box:last-of-type {
      height: 22rem;
      width: 20rem;
      position: relative;
   }

   .box:last-of-type p {
      display: block;
      position: absolute;
      top: 5.75rem;
   }
}