.animation1 {
   animation: 10000ms ease-in-out fade-in-and-out-1 forwards;
}

.animation2 {
   animation: 10000ms ease-in-out fade-in-and-out-2 forwards;
}

@keyframes fade-in-and-out-1 {
   0% {
      opacity: 0;
   }

   10% {
      opacity: 1;
   }

   90% {
      opacity: 1;
   }

   100% {
      opacity: 0;
   }
}

@keyframes fade-in-and-out-2 {
   0% {
      opacity: 0;
   }

   10% {
      opacity: 1;
   }

   90% {
      opacity: 1;
   }

   100% {
      opacity: 0;
   }
}