

.buttonsContainer {
   position: absolute;
   top: 19.5rem;
   left: 50%;
   transform: translateX(-50%);
   display: flex;
   justify-content: center;
   gap: 2rem;

}
.arrowIcon {
   height: 2rem;
   width: 2rem;
}

.arrowIcon:hover {
   cursor: pointer;
}

.arrowIcon:hover path {
   fill: var(--gold-700);
}

.arrowIconLeft {
   transform: rotate(-135deg);
}

.arrowIconRight {
   transform: rotate(45deg);
}



/* CYCLE TRANSITIONS */
.animation1 {
   animation: 10000ms ease-in-out fade-in-and-out-1 forwards;
}

.animation2 {
   animation: 10000ms ease-in-out fade-in-and-out-2 forwards;
}

.animationPermanent1 {
   animation: 1s ease-in fade-in-1 forwards;
}

.animationPermanent2 {
   animation: 1s ease-in fade-in-2 forwards;
}

@keyframes fade-in-and-out-1 {
   0% {
      opacity: 0;
   }

   10% {
      opacity: 1;
   }

   90% {
      opacity: 1;
   }

   100% {
      opacity: 0;
   }
}

@keyframes fade-in-and-out-2 {
   0% {
      opacity: 0;
   }

   10% {
      opacity: 1;
   }

   90% {
      opacity: 1;
   }

   100% {
      opacity: 0;
   }
}

@keyframes fade-in-1 {
   0% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }
}

@keyframes fade-in-2 {
   0% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }
}