.boundedContainer {
   background: var(--brown-200);
   display: flex;
   justify-content: center;
}

.boundedContainer h2,
.boundedContainer h3 {
   text-align: center;
   color: var(--brown-800);
   margin-bottom: 1rem;
}

.timelineContainer {
   background: var(--brown-500);
   display: flex;
   justify-content: center;
   max-width: 24.5625rem;
   margin: 0 auto;
   color: var(--cream-200);
   box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.timelineList {
   display: flex;
   flex-direction: column;
   max-width: 80%;
}

.timelineItem {
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 1rem 0;
}

.timelineItem:last-of-type {
   margin: 1rem 0 2rem 0;
}

.timelineItem img {
   height: 5rem;
   width: 5rem;
}

.timelineHeadingContainer {
   margin-bottom: .5rem;
}

.timelineItem h4 {
   display: inline;
   padding-left: .5rem;
}