.boundedContainer {
   background: var(--brown-200);
   display: flex;
   justify-content: center;
   padding: 2rem;
}

.boundedContainer h2,
.boundedContainer h3 {
   text-align: center;
   color: var(--brown-800);
   margin-bottom: 1rem;
   font-size: 3rem;
}

.timelineContainer {
   background: var(--brown-500);
   display: flex;
   justify-content: center;
   max-width: 24.5625rem;
   margin: 0 auto;
   color: var(--cream-200);
   box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.timelineList {
   display: flex;
   flex-direction: column;
   max-width: 80%;
   row-gap: 2rem;
   margin: 2rem 0;
}

.timelineItem {
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.timelineItem img {
   height: 5rem;
   width: 5rem;
}

.timelineHeadingContainer {
   margin-bottom: .75rem;
}

.timelineItem h4 {
   display: inline;
   padding-left: .5rem;
}

@media only screen and (min-width: 699px) {
   .boundedContainer h2,
   .boundedContainer h3 {
      margin-bottom: 2rem;
   }

   .timelineContainer {
      max-width: inherit;
      width: 41.75rem;
      padding: 0 2rem;
   }

   .timelineList {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      max-width: 95%;
      row-gap: 1rem;
      column-gap: 2.5rem;
   }

   .timelineTextContainer {
      position: relative;
      height: 12.5rem;
      width: 15rem;
   }

   .timelineHeadingContainer {
      margin-bottom: 0;
   }

   .timelineItem p {
      position: absolute;
      top: 2rem;
   }

   .timelineList li:nth-child(n + 3) p {
      top: 3.5rem;
   }

}

@media only screen and (min-width: 1000px) {
   .timelineContainer {
      width: 57rem;
   }

   .timelineList {
      row-gap: 1.5rem;
   }

   .timelineList li:nth-child(-n + 3) p {
      top: 3.5rem;
   }

   .timelineList li:last-child p {
      top: 2.5rem;
   }
}

@media only screen and (min-width: 1300px) {
   .timelineContainer {
      width: 80rem;
   }

   .timelineList {
      justify-content: space-between;
      column-gap: 4rem;
   }

   .timelineList li:nth-child(n) p {
      top: 3.5rem;
   }
}

@media only screen and (min-width: 1440px) {
   .timelineContainer {
      width: 87.5rem;
   }

   .timelineList {
      justify-content: space-between;
      column-gap: 4rem;
   }

   .timelineList p {
      top: 3.5rem;
   }

   .timelineTextContainer {
      width: 16rem;
   }
}