.container {
   background: var(--brown-500);
}

.ctaImage {
   width: 25rem;
   height: 25rem;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.ctaContentContainer {
   background: var(--beige-300);
   color: var(--brown-500);
   width: 25rem;
   height: 25rem;
   margin: 2rem 0;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.ctaTextContentContainer {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100%;
   max-width: 80%;
   margin: 0 auto;
   text-align: center;
}

.ctaTextContentContainer .button {
   color: var(--gold-750);
   font-weight: bold;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

@media only screen and (min-width: 1050px) {
   .ctaImage {
      width: 16rem;
      height: 16rem;
   }

   .ctaContentContainer {
      width: 16rem;
      height: 16rem;
   }
}

@media only screen and (min-width: 1200px) {
   .ctaImage {
      width: 20rem;
      height: 20rem;
   }

   .ctaContentContainer {
      width: 20rem;
      height: 20rem;
   }
}