.container {
   background: var(--brown-500);
   padding: 1rem;
}

.rowContainer {
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.box {
   aspect-ratio: 1 / 1;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   margin: 1rem 0;
}

.ctaContentContainer {
   background: var(--beige-300);
   color: var(--brown-500);
}

.ctaTextContentContainer {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100%;
   max-width: 80%;
   margin: 0 auto;
   text-align: center;
}

.ctaTextContentContainer .button {
   color: var(--gold-750);
   font-weight: bold;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

@media only screen and (min-width: 375px) {
   .container {
      padding: 2rem;
   }
}

@media only screen and (min-width: 425px) {
   .box {
      min-width: 20rem;
      max-width: 20rem;
      height: 20rem;
   }
}

@media only screen and (min-width: 1000px) {
   .rowContainer {
      flex-direction: row;
   }

   .box {
      margin: .5rem;
   }
}

@media only screen and (min-width: 1100px) {
   .box {
      margin: 1rem;
   }
}

@media only screen and (min-width: 1600px) {
   .box {
      margin: 1rem 3rem;
   }
}