
/* 
****** COLORS
 */

.backgroundBeige300 {
   background: var(--beige-300);
}


.backgroundCream300 {
   background: var(--cream-300);
}

.backgroundBrown200 {
   background: var(--brown-200);
}

.backgroundBrown500 {
   background: var(--brown-500);
}

.textCream200 {
   color: var(--cream-200);
}