/* 
****** LAYOUT
 */

 @media only screen and (min-width: 775px) {
   .grid2Col {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
   }
 }




/* 
****** COLORS
 */
.backgroundCream200 {
   background: var(--cream-200);
}

.backgroundCream300 {
   background: var(--cream-300);
}

.textBrown {
   color: var(--brown-800);
}

 /* 
****** Images
 */

 .heroImage {
   border-radius: 5px;
   height: 24rem;
   width: auto;
 }

 .serviceImage {
   border-radius: 5px;
   height: 26rem;
   width: 16rem;
 }




/* 
****** BUTTONS
 */

.button {
   display: block;
   border-radius: 100px;
   padding: .6rem 1rem;
}

.buttonLight {
   background: var(--cream-200);
}

.buttonBrown300 {
   color: white;
   background: var(--brown-300);
}

.buttonDark {
   color: white;
   background: var(--brown-800);
}

/* .buttonDarkGradient {

} */

/* .flexRow2Col {
   display: flex;
   justify-content: center;
} */