/* 
****** LAYOUT
 */




/* 
****** COLORS
 */
.backgroundCream200 {
   background: var(--cream-200);
}

.backgroundCream300 {
   background: var(--cream-300);
}

.textBrown {
   color: var(--brown-800);
}

 /* 
****** Images
 */

 .image {
   border-radius: 5px;
 }




/* 
****** BUTTONS
 */

.button {
   display: block;
   border-radius: 100px;
   padding: .6rem 1rem;
}

.buttonLight {
   background: var(--cream-200);
}

.buttonDark {
   color: white;
   background: var(--brown-800);
}

/* .buttonDarkGradient {

} */

/* .flexRow2Col {
   display: flex;
   justify-content: center;
} */