.boundedContainer {
   background-size: cover;
   background-position: center bottom;
}

.boundedContainerCenteredImage {
   background-size: cover;
   background-position: center;
}

.headingContainer {
   height: clamp(20rem, 20vw, 30rem);
   display: flex;
   align-items: center;
   justify-content: center;
}

/* Reset font size in case of font reversion */
.heading {
   text-align: center;
   color: var(--cream-200);
   font-size: 3.25rem;
   width: 90%;
   max-width: 24.25rem;
}

@media only screen and (min-width: 800px) {
   .boundedContainer {
      background-position: center 60%;
   }
}

@media only screen and (min-width: 1024px) {
   .heading {
      font-size: 4rem;
      max-width: 36rem;
   }
}