.boundedContainer {
   background: var(--brown-500);
}

.contentContainer {
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 2rem auto;
   gap: 1.5rem;
}

/* Remove in case of font reversion */
.contentContainer h2,
.contentContainer h3 {
   font-size: 3rem;
}

.contentContainer h2,
.contentContainer h3,
.contentContainer p {
   color: var(--beige-300);
}

.contentContainer p {
   font-style: italic;
   max-width: 32.75rem;
}