.boundedContainer {
  background-color: var(--beige-300, #efe8e2);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.heading, .paragraph {
  max-width: 24rem;
  color: var(--black-700, #252525);
}

.heading {
  font-size: clamp(1.5rem, 2vw, 2rem);
}

.paragraph {
  font-size: clamp(1rem, 2vw, 1.25rem);
}