.boundedContainer {
   background: var(--gray-250);
}

.headingsContainer {
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.headingSection {
   height: 9rem;
   width: 95%;
   padding: 1rem;
   display: flex;
   align-items: center;
   justify-content: center;
}

.mainheadingSection {
   color: var(--cream-200);
   background-size: cover;
   background-position: 0 -40px;
}

.subHeadingSection {
   background: var(--beige-300);
   color: var(--brown-700);
}

@media only screen and (min-width: 425px) {
   .mainheadingSection {
      background-position: 0 -60px;
   }
}