.menuToggleButton,
.serviceLink {
   padding: .5625rem;
}

.menuToggleButton[aria-expanded="true"] {
   color: var(--brown-750);
   text-decoration: underline;
}

/* Services Dropdown Menu */
.servicesContainer {
   position: relative;
   overflow: hidden;
   max-height: 10rem;
   transition: max-height .6s ease;
}

/* same as nav link in parent component */
.serviceLink {
   font-family: var(--font-body);
   padding: .5625rem;
   display: inline-block;
}

.serviceLink:focus {
   text-decoration: underline;
   border: none;
}

.serviceLink:hover {
   color: var(--brown-500);
   text-decoration: underline;
}

.serviceLink:active {
   color: var(--gold-700);
}

.servicesHidden {
   max-height: 0;
}

.servicesDisplayed {
   max-height: 10rem;
}

@media only screen and (min-width: 674px) {
   .menuToggleButton:hover {
      cursor: pointer;
      color: var(--brown-500);
      text-decoration: underline;
   }

   .menuToggleButton:focus-visible {
      outline: none;
      color: var(--brown-500);
      text-decoration: underline;
   }

   .menuToggleButton:active {
      color: var(--gold-700);
   }

   .servicesContainer {
      position: relative;
      overflow: visible;
   }

   .servicesList {
      position: absolute;
      background: hsla(36, 15%, 94%, .9);
      max-height: 0;
      overflow: hidden;
      z-index: 10;
      top: 100%;
      left: -40%;
      min-width: 10rem;
      border-radius: 4px;
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
      transition: max-height .6s ease;
   }

   .servicesHiddenBiggerScreen {
      max-height: 0;
   }

   .servicesDisplayedBiggerScreen {
      max-height: 10.625rem;
   }
}