@import "tailwindcss";

/* :root {
} */

@theme {
  --font-body: var(--font-nunito-sans);
  --font-display: var(--font-nunito);
  --body-background-color: #FBFBFB;
  --site-primary-color: #E7E1E0;
  --site-secondary-color: #F1EFEC;
}
