@import "tailwindcss";

/* :root {
} */

@theme {
  --font-body: var(--font-nunito-sans);
  --font-display: var(--font-nunito);
  --cream-200: hsl(0, 0%, 98%); /* #FAFAFA */
  --cream-300: hsl(36, 15%, 94%); /* #F2F0ED */
  --gray-200: hsl(9, 13%, 89%); /* #E7E1E0 */
  --gray-300: hsl(0, 0%, 68%); /* #AEAEAE */
  --black-700: 	hsl(0, 0%, 15%); /* #252525 */
  --brown-300: 	hsl(18, 21%, 57%); /* #A8887A */
  --brown-500: hsl(17, 39%, 40%); /* 	#8e553e */
  --brown-800: hsl(16.96, 38.98%, 23.14%); /* #523124 */
  --gold-700: hsl(45, 100%, 33%); /* 	#a67c00 */
  --site-background-gradient: linear-gradient(to right top, rgba(231, 224, 223, 1) 0%, rgba(250, 250, 250, 1) 50%, rgba(255, 255, 255, 1) 100%);
}

html {
  background: var(--cream-200);
}

body {
  font-family: var(--font-body);
}

.fade-in {
  animation: fade-in 1s ease-in-out 100ms 1 normal forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}