.menuArrow {
   position: absolute;
   display: inline-block;
   width: 0;
   height: 0;
   vertical-align: middle;
   border-right: .4rem solid transparent;
   border-left: .4rem solid transparent;
   border-bottom: .6rem solid #000;
}

.menuArrowUp {
   transform: rotate(-360deg);
   transition: transform 0.3s;
}

.menuArrowDown {
   transform: rotate(-180deg);
   transition: transform 0.3s;
}

/* Nav Menu Button */

.navContainer {
   text-align: center;
   padding: 1rem 0;
}

.navToggle {
   position: relative;
   font-size: 1.25rem;
}

.navMenuArrow {
   top: .625rem;
   right: -1.2rem;
   border-bottom: .6rem solid var(--brown-500);
}

/* Nav Links Dropdown */

.linksContainer {
   display: flex;
   flex-direction: column;
   margin-top: .5rem;
   gap: .5rem;
   place-items: center;
   text-align: center;
   overflow: hidden;
   transition: max-height .6s ease;
}

.navLink {
   padding: .5625rem;
   display: inline-block;
}

.navLink:focus {
   text-decoration: underline;
   border: none;
}

.navLink:hover {
   color: var(--brown-750);
   text-decoration: underline;
}

.linksHidden {
   max-height: 0;
}

.linksDisplayed {
   max-height: 25rem;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 674px) {
   .menuArrow {
      display: none;
      visibility: hidden;
   }

   .navContainer {
      padding: 0;
   }

   .navToggle {
      display: none;
      visibility: hidden;
   }

   .linksHidden {
      max-height: inherit;
   }

   .linksContainer {
      height: 4rem;
      margin: 0;
      max-height: inherit;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;
      font-size: 1.2rem;
      font-family: var(--font-body);
      /* Overflow visible important for services menu on bigger screens */
      overflow: visible;
   }
   
}