/* Nav Menu Button Container */

.navContainer {
   text-align: center;
   padding: 1rem 0;
}

.menuToggleButton {
   font-size: 1.25rem;
}
/* Nav Links Dropdown */

.linksContainer {
   display: flex;
   flex-direction: column;
   margin-top: .5rem;
   gap: .5rem;
   place-items: center;
   text-align: center;
   overflow: hidden;
   transition: max-height .6s ease;
}

.navLink {
   padding: .5625rem;
   display: inline-block;
}

.navLink:focus {
   text-decoration: underline;
   border: none;
}

.navLink:hover {
   color: var(--brown-500);
   text-decoration: underline;
}

.navLink:active {
   color: var(--gold-700);
}

.linksHidden {
   max-height: 0;
}

.linksDisplayed {
   max-height: 25rem;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 674px) {
   .menuArrow {
      display: none;
      visibility: hidden;
   }

   .navContainer {
      padding: 0;
   }

   .navToggle {
      display: none;
      visibility: hidden;
   }

   .linksHidden {
      max-height: inherit;
   }

   .linksContainer {
      height: 4rem;
      margin: 0;
      max-height: inherit;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;
      font-size: 1.2rem;
      font-family: var(--font-body);
      /* Overflow visible important for services menu on bigger screens */
      overflow: visible;
   }
   
}