.boundedContainer {
   background: var(--brown-500);
}

.boundedContainer h2,
.boundedContainer h3 {
   text-align: center;
   color: var(--beige-300);
   margin-bottom: 1rem;
}

.contentContainer {
   display: flex;
   flex-direction: column;
   gap: 1.5rem;
}

.box {
   background: var(--beige-300);
   padding: 1rem;
   padding-left: 1.5rem;
   border-radius: 5px;
}

.box li::marker {
   color: var(--brown-500);
}


.graphic {
   display: none;
   visibility: hidden;
}

@media only screen and (min-width: 768px) {
   .contentContainer {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
      justify-content: center;
      column-gap: 3rem;
   }

   .timelineSection:nth-of-type(-n + 2) .box {
      height: 9.5rem;
   }

   .box {
      border-radius: 0;
      max-width: 30rem;
      justify-self: center;
   }

   .graphic {
      display: block;
      visibility: visible;
      background-size: contain;
      background-repeat: no-repeat;
      width: 28.5rem;
      grid-row-start: 2;
      grid-row-end: 4;
      justify-self: center;
      align-self: end;
   }
}