.boundedContainer {
   background: var(--brown-500);
}

.boundedContainer h2,
.boundedContainer h3 {
   text-align: center;
   color: var(--beige-300);
   margin-bottom: 1rem;
   text-shadow: 1px 2px 3px rgba(0,0,0,0.3);
}

.contentContainer {
   display: flex;
   flex-direction: column;
   gap: 1.5rem;
}

.box,
.image {
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.box {
   background: var(--beige-300);
   padding: 1rem;
   padding-left: 1.5rem;
   border-radius: 5px;
}

.box li::marker {
   color: var(--brown-500);
}


.graphic {
   display: none;
   visibility: hidden;
}

@media only screen and (min-width: 768px) {
   .contentContainer {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
      justify-content: center;
      column-gap: 3rem;
   }

   .box, 
   .graphic {
      border-radius: 2px;
   }

   .timelineSection:first-of-type .box {
      height: fit-content;
   }

   .timelineSection:nth-of-type(2) .box {
      height: calc(100% - 3.34375rem);
   }

   .box {
      max-width: 30rem;
      justify-self: center;
   }

   .graphic {
      display: block;
      visibility: visible;
      background-size: contain;
      background-repeat: no-repeat;
      width: 30rem;
      grid-row-start: 2;
      grid-row-end: 4;
      justify-self: center;
      align-self: start;
      margin-top: 3.34375rem;
   }
}

@media only screen and (min-width: 1000px) {
   .graphic {
      align-self: end;
   }

   .timelineSection:last-of-type {
      align-self: end;
   }
}