.row {
   display: flex;
   flex-direction: column;
}

.leftContainer {
   background-size: cover;
   background-repeat: no-repeat;
   width: 100%;
   height: 10rem;
   display: flex;
   justify-content: center;
   align-items: center;
   color: var(--cream-200);
}

.rightContainer {
   display: flex;
   align-items: center;
}

.list {
   list-style: disc;
   padding: 1rem 1rem 1rem 16%;
   color: var(--cream-200);
}

@media only screen and (min-width: 560px) {
   .row {
      flex-direction: row;
      height: 15rem
   }

   .leftContainer {
      height: inherit;
      width: 60%;
   }

   .rightContainer {
      width: 40%;
   }
}