.boundedContainer {
   background: var(--beige-300);
}

.row {
   display: flex;
   flex-direction: column;
   background: var(--brown-500);
   min-height: 12rem;
   border-radius: 5px;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.leftContainer {
   min-height: 12rem;
   background-size: cover;
   background-repeat: no-repeat;
   display: flex;
   justify-content: center;
   align-items: center;
   color: var(--cream-200);
   border-radius: 5px 5px 0 0;
}

.leftContainer h2,
.leftContainer h3 {
   font-size: 4rem;
   text-align: center;
   padding: 1rem;
}

.rightContainer {
   display: flex;
   align-items: center;
   min-height: 12rem;
   font-size: 1.25rem;
}

.list {
   list-style: disc;
   padding: 1rem 1rem 1rem 16%;
   color: var(--cream-200);
}

@media only screen and (min-width: 716px) {
   .row {
      flex-direction: row;
      min-height: 16rem;
      border-radius: 0;
   }

   .leftContainer {
      height: inherit;
      width: 60%;
      min-height: 16rem;
      border-radius: 0;
   }

   .rightContainer {
      width: 40%;
      min-height: 16rem;
   }
}