.row {
   display: flex;
   height: 15rem
}

.leftContainer {
   background-size: cover;
   background-repeat: no-repeat;
   width: 60%;
   display: flex;
   justify-content: center;
   align-items: center;
   color: var(--cream-200);
}

.rightContainer {
   width: 40%;
   display: flex;
   align-items: center;
}

.list {
   list-style: disc;
   padding-left: 16%;
   color: var(--cream-200);
}