.container {
   background: var(--brown-200);
   font-family: var(--font-display);
   color: var(--brown-725);
}

.rowContainer {
   display: flex;
   flex-direction: column;
   gap: 1rem;
   justify-content: space-between;
   align-items: center;

}

.rowContainer > * {
   flex-basis: 33.3333%;
}

.rowContainer > a > img {
   margin: 0 auto;
}

.linksContainer {
   display: flex;
   flex-direction: column;
   gap: 1rem;
   justify-content: flex-end;
   align-items: center;
}

.linksContainer a {
   padding: .5rem;
}

.linksContainer a:focus {
   text-decoration: underline;
   border: none;
}

.linksContainer a:hover {
   color: var(--brown-500);
   text-decoration: underline;
}

.linksContainer a:active {
   color: var(--gold-700);
}

.instagramIcon {
   display: inline-block;
   height: 1.4rem;
}

@media only screen and (min-width: 640px) {
   .linksContainer {
      flex-direction: row;
   }
}

@media only screen and (min-width: 768px) {
   .rowContainer {
      flex-direction: row;
   }
}