.boundedContainer {
   background: var(--brown-500);
   color: var(--cream-200);
}

.boundedContainer h1 {
   text-align: center;
   padding: 0 1rem;
   max-width: 30.25rem;
   margin: 0 auto;
}

.contentContainer {
   display: flex;
   flex-direction: column;
}

.textContainer {
   padding: 0 1rem;
   max-width: 40rem;
   margin: 0 auto;
   text-align: center;
   order: 2;
}

.paragraphsContainer {
   margin: 1rem 0;
}

.paragraphColumn:not(:last-of-type) {
   margin-bottom: 1rem;
}

.paragraphColumn p:not(:last-of-type) {
   margin-bottom: 1rem;
}

.button {
   margin: 1rem auto 0 auto;
}

.imageContainer {
   padding: 0 1rem;
   margin: 1rem 0;
   order: 1;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-left: 10%;
}

.frontImage {
   z-index: 1;
   width: 40%;
   max-width: 12.0469rem;
   max-height: 18.0625rem;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.backImage {
   position: relative;
   z-index: 0;
   left: -10%;
   width: 60%;
   max-width: 18.0713rem;
   max-height: 22.34375rem;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media only screen and (min-width: 768px) {
   .imageContainer {
      margin-left: 4rem;
   }
   .backImage {
      left: -4rem;
   }
}

@media only screen and (min-width: 1024px) {
   .contentContainer {
      flex-direction: row;
      justify-content: center;
   }

   .textContainer {
      order: 1;
      text-align: start;
      max-width: inherit;
      margin: inherit;
      width: 55%;
      margin-top: 3rem;
   }

   .paragraphsContainer {
      display: flex;
      gap: 1rem;
   }

   .imageContainer {
      width: fit-content;
   }
}

@media only screen and (min-width: 1200px) {
   .textContainer {
      width: fit-content;
   }

   .frontImage {
      max-width: inherit;
      max-height: inherit;
      width: 14rem;
   }

   .backImage {
      max-width: inherit;
      max-height: inherit;
      width: 20rem;
   }
}

@media only screen and (min-width: 1500px) {
   .boundedContainer h1 {
      margin-bottom: 2rem;
   }

   .paragraphColumn {
      width: 23rem;
   }

   .imageContainer {
      margin-left: 6rem;
   }

   .frontImage {
      width: 18rem;
   }

   .backImage {
      width: 26rem;
      left: -6rem;
   }
}