.bounded {
   background: var(--brown-200);
   background: linear-gradient(to bottom, var(--beige-300) 50%, var(--brown-200) 50%); 
}

.container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.sliceHalfContainer {
   position: relative;
   min-height: 22rem;
   padding: 0 1rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
}

.sliceHalfContainer:last-of-type {
   padding-bottom: 3rem;
}

/* LEFT/TOP HALF */
.linksSection {
   display: flex;
   flex-direction: column;
}

.linksRow {
   display: flex;
   align-items: center;
   justify-content: center;
}

.heading {
   font-size: 1.5rem;
   max-width: min(30rem, 90%);
   color: var(--brown-800);
   margin: 1rem auto .5rem auto;
}

.button {
   width: 8.25rem;
   margin: .5rem .75rem;
}

.linksSection > a {
   margin: .5rem auto 1rem auto;
}

/* CENTER IMAGE */
.centerImage {
   min-height: 15rem;
   height: 15rem;
   width: 15rem;
   min-width: 15rem;
   max-width: 15rem;
   background-repeat: no-repeat;
   background-size: contain;
}


/* RIGHT/BOTTOM HALF */
.testimonial {
   font-size: 1.125rem;
   color: var(--cream-200);
}


@media only screen and (min-width: 400px) {
   .heading {
      font-size: 1.75rem;
      max-width: 35rem;
   }

   .testimonial {
      margin: 0 auto;
      max-width: 80%;
   }
}

@media only screen and (min-width: 600px) {
   .sliceHalfContainer {
      min-height: 18rem;
   }
}

@media only screen and (min-width: 800px) {
   .container {
      flex-direction: row;
      background: linear-gradient(to right, var(--beige-300) 50%, var(--brown-200) 50%); 
   }

   .sliceHalfContainer {
      min-height: 29rem;
      width: 50%;
   }

   .linksRow {
      flex-direction: column;
   }

   .centerImage {
      height: 14rem;
      width: 14rem;
      min-width: 14rem;
   }
}

@media only screen and (min-width: 900px) {
   .linksRow {
      flex-direction: row;
   }

   .centerImage {
      height: 14rem;
      width: 14rem;
      min-width: 14rem;
   }
}

@media only screen and (min-width: 1000px) {
   .centerImage {
      height: 20rem;
      width: 20rem;
      min-width: 20rem;
   }
}

@media only screen and (min-width: 1150px) {
   .sliceHalfContainer {
      min-height: 32rem;
   }

   .centerImage {
      height: 25rem;
      width: 25rem;
      min-width: 25rem;
   }
}