.bounded {
   background: var(--brown-200);
   background: linear-gradient(to bottom, var(--beige-300) 50%, var(--brown-200) 50%); 
}

.container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.sliceHalfContainer {
   position: relative;
   min-height: 22rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
}

.sliceHalfContainer:last-of-type {
   padding-bottom: 3rem;
}

/* LEFT/TOP HALF */
.linksSection {
   display: flex;
   flex-direction: column;
   max-width: 90%;
}

.linksRow {
   display: flex;
   align-items: center;
   justify-content: center;
}

.heading {
   font-size: clamp(1.25rem, 4vw, 1.5rem);
   max-width: 30rem;
   color: var(--brown-800);
   margin: 1rem auto .5rem auto;
}

.button {
   width: 8.25rem;
   margin: .5rem .75rem;
}

.linksSection > a {
   margin: .5rem auto 1rem auto;
}

/* CENTER IMAGE */
.centerImage {
   aspect-ratio: 1 / 1;
   width: 15rem;
   background-repeat: no-repeat;
   background-size: contain;
}


/* RIGHT/BOTTOM HALF */
.testimonialCycler {
   padding: 0 1rem;
}

.testimonialCycler p {
   font-size: 1.125rem;
   color: var(--cream-200);
}


@media only screen and (min-width: 400px) {
   .heading {
      max-width: 35rem;
   }

   .testimonialCycler p {
      margin: 0 auto;
      max-width: 80%;
   }
}

@media only screen and (min-width: 600px) {
   .sliceHalfContainer {
      min-height: 18rem;
   }
}

@media only screen and (min-width: 800px) {
   .container {
      flex-direction: row;
      background: linear-gradient(to right, var(--beige-300) 50%, var(--brown-200) 50%); 
   }

   .sliceHalfContainer {
      min-height: 29rem;
      width: 50%;
   }

   .heading {
      font-size: clamp(1.25rem, 2vw, 1.5rem);
   }

   .linksRow {
      flex-direction: column;
   }

   .centerImage {
      min-width: clamp(14rem, 25vw, 25rem);
   }
}

@media only screen and (min-width: 900px) {
   .linksRow {
      flex-direction: row;
   }
}

@media only screen and (min-width: 1150px) {
   .sliceHalfContainer {
      min-height: 32rem;
   }
}