.addOnsContainer {
  background: var(--beige-300);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.addOnSection {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
