.servicesAndAddOns {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.servicesContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.serviceBody {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.addOnsContainer {
  background: var(--beige-300);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.addOnSection {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.addOnSection h4 {
  color: var(--gold-700);
}

@media only screen and (min-width: 768px) {
  .servicesAndAddOns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
  }

  .addOnsContainer {
    justify-content: space-between;
    /* Lines up bottom with bottom of lowest service (51px is the height of the link section) */
    height: calc(100% - 3.1875rem);
  }
}

@media only screen and (min-width: 1250px) {
  .serviceDetails {
    display: flex;
    justify-content: space-between;
  }
}
