.servicesAndAddOns {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.servicesContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.serviceBody {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.addOnsContainer {
  background: var(--beige-300);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.addOnSection {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.addOnSection h4 {
  color: var(--gold-700);
}

@media only screen and (min-width: 768px) {
  .servicesAndAddOns {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .servicesAndAddOns > section {
    flex-basis: 48%;
  }
}

@media only screen and (min-width: 1250px) {
  .serviceDetails {
    display: flex;
    justify-content: space-between;
  }
}
