.boundedContainer {
   background: var(--brown-200);
}

.explainerContainer {
   background: var(--beige-300);
   padding: 2rem 1rem;
}

.explainerContainer h2 {
   text-align: center;
   color: var(--brown-800);
   margin-bottom: 1rem;
}

.explainerContainer p {
   color: var(--black-700);
   font-weight: 600;
   text-align: center;
}