.boundedContainer {
   background: var(--brown-200);
}

.contentContainer {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 2rem;
}

.cardContainer {
   max-width: 32.875rem;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* EXPLAINER */
.explainerContainer {
   background: var(--beige-300);
   padding: 2rem 1rem;
}

.explainerContainer h2 {
   text-align: center;
   color: var(--brown-800);
   margin-bottom: 1rem;
}

.explainerTextContainer {
   color: var(--black-700);
   font-weight: 600;
   text-align: center;
}


@media only screen and (min-width: 1200px) {
   .contentContainer {
      flex-direction: row;
      gap: 4rem;
   }

   .cardContainer {
      height: 21.875rem;
   }

   .explainerContainer {
      padding: 2rem 3rem 0 3rem;
   }

   .explainerContainer h2 {
      margin-bottom: 0;
   }

   .explainerTextContainer {
      height: 15.0625rem;
      display: flex;
      align-items: center;
      text-align: start;
   }
}

@media only screen and (min-width: 1440px) {
   .cardContainer {
      height: 24.54375rem;
   }

   .explainerTextContainer {
      height: 17.73125rem;
   }
}