.boundedContainer {
   background: var(--brown-200);
}

.contentContainer {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 2rem;
}

.cardContainer {
   max-width: 32.875rem;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* EXPLAINER */
.explainerContainer {
   background: var(--beige-300);
   padding: 2rem 1rem;
}

.explainerContainer h2 {
   text-align: center;
   color: var(--brown-800);
   margin-bottom: 1rem;
}

.explainerTextContainer {
   color: var(--black-700);
   font-weight: 600;
   text-align: center;
}

/* DEAL/COUPON */
.dealBorder {
   background: var(--brown-300);
   color: var(--cream-200);
   height: 3.75rem;
}

.dealBorderTop {
   display: flex;
   align-items: center;
}

.dealBorderTop img {
   margin-left: 1rem;
   height: 2.25rem;
   width: auto;
}

.dealBorderTop h3 {
   font-size: 1.25rem;
   margin-left: 1rem;
}

.dealBorderBottom {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   font-size: 1.25rem;
}

.dealBodyContainer {
   background: var(--beige-300);
   color: var(--black-700);
   display: flex;
   justify-content: space-between;
   font-weight: 500;
}

.dealTextContainer {
   padding: .5rem;
}

.dealTextContainer li {
   position: relative;
}

.listIcon {
   position: absolute;
   top: .25rem;
   height: 1.25rem;
   width: 1.25rem;
}

.dealTextContainer li p {
   padding-left: 2rem;
}

.dealTextContainer > p:first-of-type {
   margin-top: 1rem;
}

.dealTextContainer > p:last-of-type {
   margin-top: .25rem;
}

.dealImageContainer {
   display: none;
   visibility: hidden;
}

@media only screen and (min-width: 474px) {
   .dealImageContainer {
      display: block;
      visibility: visible;
   }

   .dealImageContainer img {
      width: 9.625rem;
      min-width: 9.625rem;
      height: 14.375rem;
   }
}

@media only screen and (min-width: 1200px) {
   .contentContainer {
      flex-direction: row;
      gap: 4rem;
   }

   .cardContainer {
      height: 21.875rem;
   }

   .explainerContainer {
      padding: 2rem 3rem 0 3rem;
   }

   .explainerContainer h2 {
      margin-bottom: 0;
   }

   .explainerTextContainer {
      height: 15.0625rem;
      display: flex;
      align-items: center;
      text-align: start;
   }
}

@media only screen and (min-width: 1440px) {
   .cardContainer {
      height: 24.54375rem;
   }

   .explainerTextContainer {
      height: 17.73125rem;
   }

   .dealImageContainer img {
      width: 12.9375rem;
      min-width: 12.9375rem;
      height: 17.04375rem;
   }
}