.input, .label {
  font-family: var(--font-body);
  font-size: clamp(1rem, 2vw, 1.25rem);
}

.label {
  display: block;
  margin-bottom: 0.5rem;
}

.input {
  background-color: var(--cream-200);
  border: 2px solid var(--olive-brown-700);
  border-radius: 4px;
  padding: 0.25rem 0.5rem;
  text-align: center;
}

.input:focus {
  outline: none;
  border-color: var(--olive-brown-500);
  box-shadow: 0 0 0 1px var(--olive-brown-500);
}

.error,
.message {
  display: block;
  margin: 0.5rem 0;
}

.submitButton {
  margin: 1rem auto 0;
  min-width: 8rem; /* min-width used to reliably overwrite default button fit-content style */
}