.menuArrow {
   position: absolute;
   display: inline-block;
   width: 0;
   height: 0;
   vertical-align: middle;
   border-right: .4rem solid transparent;
   border-left: .4rem solid transparent;
   border-bottom: .6rem solid #000;
}

.menuArrowUp {
   transform: rotate(-360deg);
   transition: transform 0.3s;
}

.menuArrowDown {
   transform: rotate(-180deg);
   transition: transform 0.3s;
}

.menuToggle {
   position: relative;
}

.menuToggle:hover {
   cursor: pointer;
}

.menuArrowPrimary {
   border-bottom: 0.6rem solid var(--brown-500, #7B5C4B);
}

.menuArrowPrimaryPositioning {
   top: .625rem;
   right: -1.2rem;
}

.menuArrowSecondary {
   border-right: 0.3rem solid transparent;
   border-left: 0.3rem solid transparent;
   border-bottom: 0.45rem solid var(--brown-750, #572c15);
}

.menuArrowSecondaryPositioning {
   top: 1rem;
   right: -0.4rem;
}

@media only screen and (min-width: 674px) {
   .hideOnBiggerScreens {
      display: none;
      visibility: hidden;
   }
}